html,
body {
    margin: 0;
    padding: 0;
    background-color: moccasin;
}

a {
    font-size: 24px;
    font-style: normal;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-family: "Times New Roman', Times, serif";
    background-color: chocolate;
    padding-top: 0;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: "Times New Roman', Times, serif";
}

#navbar {
    padding: 20px 0;
    font-size: 24px;
    background-color: brown;
    list-style-type: none;
}

#navbar>ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
    list-style-type: 'none';
}

p {
    margin: 13px;
    font-family: "Times New Roman', Times, serif";
    padding-left: 30px;
    padding-right: 30px;
    font-size: 28PX;
}

